body {
    margin: 0%;
    padding: 0%;
    font-family: Poppins, Helvetica, Arial, sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: grey;
}

.nav {
    width: 100%;
    background-color: white;
    display: flex;
}

span.logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}

span.logo svg {
    width: 132px;
    height: 38px;
}

.nav ul {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 20px;
}

.nav ul li {
    list-style: none;
    margin: 10px;
}

.nav ul li a {
    text-decoration: none;
    color: #484848;
    font-size: 10pt;
}

.nav button {
    background-color: #b6220e;
    border: none;
    color: white;
    border-radius: 30px;
    width: 87px;
    height: 48px;
    font-weight: bold;

}

.header-top {
    width: 100%;
    height: 600px;
    background-image: url('/images/banner.webp');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.header-top button {
    background-color: #b6220e;
    border: none;
    color: white;
    border-radius: 30px;
    width: 220px;
    height: 64px;
    font-weight: bold;
}

.header-top h1 {
    font-size: 42px;
    width: 400px;
}

.header-top p {
    width: 400px;
    margin: 15px 0 30px;
    line-height: 28px;
}

div.why-us {
    width: 100%;
    background-color: #fafafa;
    min-height: 343px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.why-us p {
    color: #757575;
    text-align: center;
}

.cols-container {
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 26px;

}

.cols-container .col {
    width: 33.9%;
}

.cols-container .col h3 {
    text-align: left;
    font-size: 24px;
    color: #484848;
}

.cols-container .col ul {
    margin: 0%;
    padding: 0%;
}

.col img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
    max-width: 350px;
    max-height: 201px
}


.cols-container .col ul li {
    list-style: none;
    display: flex;
    align-items: center;
    line-height: 2em;

}

.col ul li svg {
    width: 13px;
    height: 10px;
    fill: #36bd2c;
    margin-right: 10px;
    font-size: large;
}

.how-itworks {
    width: 100%;
    background-color: #fbe6de;
    display: flex;
}

.how-itworks img {
    width: 50%;
}

.how-itworks .steps {
    width: 50%;
    padding: 44px;
}

.how-itworks h3 {
    font-size: 2em;
    margin-bottom: 12px;
}

.steps ul {
    padding-left: 0px;
}

.steps ul li {
    list-style: none;
    font-weight: bold;
    line-height: 2em;
}

span.numbers {
    margin-right: 9px;
    width: 16px;
    color: #ff946e;
    font-size: 1.5em;
    font-family: Poppins, Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.steps button {
    background-color: #b6220e;
    border: none;
    color: white;
    border-radius: 29px;
    width: 180px;
    height: 55px;
    font-weight: 600;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-bottom: 25px;
}

.menu h3 {
    text-align: center;
    font-size: 32px;
    letter-spacing: -.04em;
    font-weight: 600;
    color: #484848;
    margin-bottom: 1px;
}

.menu h3+p {
    margin: 15px 0 30px;
    line-height: 28px;
    width: 58%;
    text-align: center;
    color: #757575;

}

.menu-items {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-lists span.spn {
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
}

.menu-lists span#name1 {
    background-color: #d7d5df;
}

.menu-lists span#name2 {
    background-color: #f6bfb7;
}

.menu-lists span#name3 {
    background-color: #ffeebf;
}

.menu-items .menu-lists {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.menu-items .menu-list {
    width: 280px;
    height: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}

.menu-items .buttonprev,
.menu-items .buttonnext {
    width: 50px;
    height: 30px;
    border: 2px solid #ff946e;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu1 {
    background-image: url('/images/gourmet.webp');
    background-size: cover;
}

#menu2 {
    background-image: url('/images/Chefschoice.webp');
    background-size: cover;
}

#menu3 {
    background-image: url('/images/quick_easy.webp');
    background-size: cover;
}

.menu button {
    background-color: #b6220e;
    border: none;
    color: white;
    border-radius: 29px;
    width: 180px;
    height: 55px;
    font-weight: 600;
}

.reviews {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f3f4f6;
}

.reviews .socials {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.socials img {
    margin-right: 10px;
    width: 46px;
    height: 46px;
}

.socials p {
    font-size: 2em;
    color: #484848;
    text-decoration: underline;
}

.social-images {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    width: 70%;
}

.social-images img {
    width: 218px;
    height: 218px;
}

.reviews .google-reviews h4 {
    font-size: 30px;
    line-height: 140%;
    text-align: center;
    width: 100%;
    font-weight: 500;
    margin-bottom: 0px
}

.google-reviews p {
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.google-reviews svg {
    width: 98px;
    height: 98px;
}

.google-reviews img {
    width: 79px;
    height: 26px;
}

.google-reviews .million {
    color: #e42a12;
}

.certified {
    background: #fff;
    width: 65%;
    height: 110px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 5px;
}

.certified .one {
    width: 5%;
}

.certified .two {
    width: 55%;
}

.certified .three {
    width: 40%;
    display: flex;
    align-items: center;
}

.certified svg.start {
    width: 42px;
    height: 42px;
}

.certified svg.end {
    width: 60px;
    height: 97px;
}

.certified h5 {
    font-size: 17px;
    margin: 0px;
    padding: 0px;
}

.certified p {
    font-size: 16px;
    margin-top: 8px;

}

.certified .tf_left {
    width: 80%;
}

.cert_bg {
    height: auto;
}

.certified .tf_right {
    width: 20%;
}

span.bcorp {
    color: #b6220e;
}

span.newbcorp {
    background-color: #b6220e;
    color: white;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

a.learn_cert_more {
    color: #b6220e;
    text-decoration: underline;
}

a.learn_cert_more span {
    text-decoration: none;
}

.subscribe {
    background-image: url('/images/subscribe.webp');
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 120px 0 123px;
}

.subscribe h2 {
    font-size: 32px;
    line-height: 120%;
    letter-spacing: -.04em;
    margin: 0%;
    padding: 0%;
}

.subscribe p {
    font-size: 18px;
    color: #484848;
}

.subscribe .form_container {
    background-color: white;
    width: 70%;
    height: 280px;
    border-radius: 10px;
}

.form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.subscribe form {
    width: 50%;
    margin: 0 auto;
}

.subscribe form input {
    width: 100%;
    padding: 13px 16px 10px;
    display: block;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid #e9e9e9;
    font-size: 1em;
    line-height: normal;
    color: #484848;
    outline: none;
    box-sizing: border-box;
    pointer-events: auto;
}

.email_placejolder span {
    margin-bottom: 10px;
    display: inline-block;
    font-size: .8125em;
    color: #93969d
}

.subscribe_btn_container {
    display: flex;
}

.subscribe_btn_container button {
    font-weight: bold;
    text-align: center;
    background-color: #e42a12;
    border: 1px solid #e42a12;
    color: #fff;
    border-top-right-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
}

p.subscribe_bottom {
    text-align: center;
    font-size: .8125em;
    color: hsla(0, 0%, 45.9%, .5);
    width: 700px;
}

div.footer_links {
    background-color: #fafafa;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 45px 0 25px;
}

.footer_links_logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_links_logo svg {
    width: 132px;
    height: 32px;
}

.footer_links_container {
    width: 100%;
}

.footer_links_container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    gap: 4%;
}

.footer_links_container h6 {
    font-size: 16px;
    margin-bottom: 10px;
}

.footer_links_container>div ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.footer_links_container ul li {
    line-height: 2em;
    color: #93969d;
}

.footer_links_container ul li p {
    color: #93969d;
}

.footer_links_container ul li a {
    margin-bottom: 9px;
    color: #93969d;
    text-decoration: none;
}

#footer_four ul li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 220px;
}

#footer_four ul li img {
    width: 101px;
    height: 58px;
    border-radius: 5px;
}

.socials {
    width: 100%;
    display: flex;
    justify-content: space-between;
    width: 65%;
}

.socials input {
    width: 100%;
    padding: 13px 16px 10px;
    display: block;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid rgb(233, 233, 233);
    font-size: 1em;
    line-height: normal;
    color: rgb(72, 72, 72);
    outline: none;
    box-sizing: border-box;
}

.socials h6 {
    font-size: 16px;
    margin-bottom: 12px;
}

#socials_two svg.stars {
    width: 109px;
    height: 20px;
}

#socials_two svg.google {
    width: 26px;
    height: 26px;
}

#socials_three svg {
    width: 29px;
    height: 29px;
    margin-right: 10px;
}

.copyrights {
    margin-top: 10px;
    width: 100%;
    justify-content: center;
    display: flex;
}

.copyrights_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding-top: 13px;
}

.copyrights_content .policies a {
    color: #e42a12;
    text-decoration: none;
}

.copyrights_content .madewith {
    font-weight: 600;
}

.copyrights_content #love_icon svg {
    width: 19px;
    height: 19px;
    fill: #e42a12;
}

#nav_list_mobile {
    display: none;
}


/**Media Querries**/

@media only screen and (max-width: 768px) {
    #nav_list_mobile {
        background-color: #fff;
    }

    #visible_mobile_logo_and_icon {
        width: 100%;
        display: flex;
    }

    #logo_menu_pop_up {
        width: 100%;
        position: absolute;
        left: 0;
        top: 0px;
        z-index: 10;
        background-color: white;


    }

    #logo_menu_pop_up .logo svg {
        width: 150px;
        height: 50px;
    }

    #logo_menu_icon {
        width: 100%;
        display: flex;
    }

    .visible_mobile_logo {
        width: 90%;
    }

    .visible_mobile_logo svg {
        width: 150px;
        height: 50px;
    }

    .visible_mobile_icon {
        width: 10%;
        height: 50px;
    }

    #humbeger {
        width: 50px;
        height: 50px;
        display: block;
    }

    .logo_menu_icon {
        display: flex;
        width: 100%;
    }

    .mobileMenuIcon {
        width: 50px;
        height: 50px;
        ;
        display: block;
    }

    span.logo {
        text-align: left;
        width: 90%;
        justify-content: flex-start;
        padding-left: 5%;
    }

    .humberger_menu {
        width: 10%;
        padding: 10px;
    }

    #nav_lists {
        display: none;
    }

    #nav_list_mobile {
        display: block;
        padding: 10px;
        background-color: white;
    }

    #nav_list_mobile ul li {
        line-height: 2em;
        list-style: none;
    }

    #nav_list_mobile ul li a {
        text-decoration: none;
        color: #484848;
        font-size: 10pt;
    }

    #nav_list_mobile button {
        background-color: #b6220e;
        border: none;
        color: white;
        border-radius: 30px;
        width: 87px;
        height: 48px;
        font-weight: bold;

    }

    .humberger_menu_x {
        width: 53px;
        height: 50px;
        background-color: #b6220e;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        margin: 5px;
        font-weight: bold;

    }

}